<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/2acbe654-8fe2-4210-9eef-b840f2e15e38/resourceGroups/PeoplecounterAtea_group/providers/Microsoft.Web/sites/APICounted</ResourceId>
    <ResourceGroup>PeoplecounterAtea_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://apicounted.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>apicounted.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>APICounted</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$APICounted</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>