<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/0f62761b-359c-40c9-b9c9-bd9138e1bed4/resourceGroups/AteaExjobb/providers/Microsoft.Web/sites/PeopleCounterAPI</ResourceId>
    <ResourceGroup>AteaExjobb</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://peoplecounterapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>peoplecounterapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PeopleCounterAPI</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PeopleCounterAPI</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>